.wrapper {
    background-color: #112F5F;
    height: 415px; 
    width: 100vw; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 500px;
    color: white;
}
.headerText{
    margin-top: 144px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 32px;
    }
.categories {
    font-family: Poppins;
    text-decoration: underline;

}
.categoriesContainer{
display: flex;
flex-direction: row;
gap: 16px;
}
.mediumText{
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    margin: 0 0 16px 0;
    padding: 0px;
    align-items: self-end;
}