.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 9px;
}

.containerSmall {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 9px;
  width: 224px;
}

.title {
  font-weight: 600;
  margin: 0px 0px 0px 0px;
  font-size: 13;
}

.input, .textarea {
  font-size: 14;
  margin-right: 8px;
}
  
.input{
  height: 22px;
  padding: 9px 13px;
}
.textarea {
height: fit-content;
max-width: 420px;
background-color: #F9F9F9;
border-color: #E2E2E2;
margin-bottom: 16px;
}