.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 9px;
}

.containerSmall {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 9px;
  width: 224px;
}

.title {
  font-weight: 600;
  margin: 0px 0px 0px 0px;
  font-size: 13;
}

.input {
  font-size: 14;
  height: 22px;
  padding: 9px 13px;
  margin-right: 8px;
}
