/* .bar {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.navbar-upper {
  display: flex;
  flex-direction: row;
  height: 100px;
}

.logo {
  width: 180px;
  margin-left: -5px;
  padding: 11px 0px 10.5px 0px;
}
 */
.smallText{
  font-size: 12px;
  font-weight: 500;
}
.nameText{
  font-size: 12px;
  font-weight: 700;
}