.dropdownContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.propertyInputContainer {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
}

.step1Container {
  display: flex;
  gap: 0px;
  flex-direction: column;
  max-width: 100%;
}
