.modal {
  height: 570px;
  width: 870px;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 32px 50px 50px 50px;
}

.modalContainer {
  display: flex;
  gap: 16px;
  position: relative;
  align-self: center;
  justify-content: center;
}
.headerContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.ratingContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  gap: 16px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 999;
}

.closeIconContainer {
  display: flex;
  flex-direction: row;
  align-items: self-end;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  margin-top: 32px;
}

.textfieldContainer {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: end;
}

.plusCommentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.dropdownContainer{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
}
.questionMark {
  color: #488ac6;
  margin-left: 0px;
}
