.modal {
  height: 570px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.modalContainer {
  display: flex;
  gap: 16px;
  position: relative;
  align-self: center;
  justify-content: center;
}
.ButtonPosition {
  position: absolute;
  right: 0;
  bottom: 0;
}
.ratingContainer {
  display: flex;
  flex-direction: row;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 999;
}
