.Wrapper{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: #F9F9F9;
    height: 32px;
    width: fit-content;
    align-items: center;
    border: 2px solid #E2E2E2;
    margin-right: 32px;
    padding: 0px 4px;
}
.ratingText{
    font-size: 14px;
    font-weight: 500;
}