.stepContainer {
  display: flex;
  flex-direction: column;
  max-width: 480px;
}

.buttonContainer {
  width: 480px;
  display: flex;
  flex-direction: row;
 margin-top: 32px;
  width: 100%;
  gap: 16px;
}
.containerRow {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 480px;
}
.containerRow > * {
  width: 234px;
}

.addIcon {
  color: #488ac6;
}
