.headerText{
  margin-bottom: 16px;
}
.wrapper{
  margin-bottom:32px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 100%;
  margin-right: 8px;
}
.horizontalWrapper{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-end;
  gap: 16px;
  width: 100%;
}
.title {
  font-weight: 600;
  margin: 0px 0px 0px 0px;
  font-size: 13;
}
.input {
  font-size: 14;
  width: 100%;
}
.inputSmall {
  font-size: 14;
  width: 40%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}

.title {
  font-weight: 600;
  margin: 0px 0px 0px 0px;
  font-size: 13;
}
.input {
  font-size: 14;
  height: 33px;
  margin-right: 8px;
}

.dropdownContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.propertyInputContainer {
  display: flex;
  flex-direction: row;
  margin-right: 8px;
}

.propertiesInputWrapper {
  display: flex;
  flex-direction: column;
}

.step1Container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.measurementContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  align-self: stretch;
}

.buttonContainer {
  max-width: 480px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
  width: 100%;
  margin-top: 32px;
}

.formHeader{
  border-top: 1px solid #E2E2E2;
  padding-top: 32px;
}
