.container, .containerSmall, .containerLarge {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 4px;
  margin-top: 32px;
}
.container{
  width:100%;
  max-width: 350px;
}
.containerLarge{
  width: 100%;
}
.containerSmall {
  width: fit-content;
}
.containerInline{
  height: fit-content;
}
.title {
  font-weight: var(--semibold);
  margin: 0px 0px 0px 0px;
  font-size: 13;
}

.input {
  font-size: 14;
  font-family: Inter !important;
  width: 100%;
  background-color: #F9F9F9;
}
.inputInline{
  font-size: 14;
  font-family: Inter !important;
  width: fit-content;
  min-width: 200px;
  background-color: #F9F9F9;
  margin-right: 16px;
}
.inputSmall {
  font-size: 14;
  width: 104px;
  background-color: #F9F9F9;
  font-family: Inter !important;
}
